@model HappySalesApp.ViewModels.ProductsAndCategoriesViewModel
@using HappySalesApp.Areas.Identity.Pages.Account;
@using Microsoft.AspNetCore.Identity
@using System.Security.Claims;
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

@{
    ViewData["Title"] = "Om annonsen";
}
<div class="main">

    <h1>Om annonsen</h1>
    <div class="all-ads">
        <a asp-action="Index">Tillbaka till alla annonser</a>
    </div>

    <!--Flexbos med kategorier och produktlistning-->
    <div class="details-flex">
        <div class="flex-img">
            <img decoding="async" src="@("~/uploadedimages/"+Model.Product.ImageName)" asp-append-version="true" width="450" height="450" alt="@Model.Product.AltText" />
            <h2>@Html.DisplayFor(model => model.Product.Name)</h2>
            <p>@Html.DisplayFor(model => model.Product.Description)</p>


            <p>Annonsen skapades: @Html.DisplayFor(model => model.Product.CreatedDate) och uppdaterades senast @Html.DisplayFor(model => model.Product.LastModifiedDate) </p>
        </div>



        <div class="details-text">
            <!--Artikel där produkterna skrivs ut-->
            <div class="details">
                <h3>Utgångspris</h3>
                <p>@Html.DisplayFor(model => model.Product.Price) kr </p>

                <div class="add-bid">
                    @if (SignInManager.IsSignedIn(User))
                    {
                        // Skicka med produktens ID och användarens ID till vyn
                        ViewBag.ProductOwnerId = Model.Product.User_Id;
                        ViewBag.CurrentUserId = User.FindFirstValue(ClaimTypes.NameIdentifier);

                        // Kontrollera om inloggade användaren är också ägare till produkten
                        if (ViewBag.CurrentUserId != ViewBag.ProductOwnerId)
                        {
                            //Skickar med produktens id som parameter i länken
                            <a href="@Url.Action("Create", "Bids", new { id = Model.Product.Id })">Lägg ett bud</a>
                        }
                        else
                        {

                            <p>Detta är din Annons</p>
                        }

                    }
                    else
                    {
                        <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Login">Logga in för att lägga ett bud</a>
                    }
                </div>



                <h2>Bud</h2>
                <!-- Kontroll om det finns något bud och skriver ut -->
                <ul class="bids-list">
                    @if (Model.Bids.Any())
                    {
                        <!-- Loopar igenom buden och skriver ut. Formatterar om utskrift av "Amount" och tar bort extra nollor -->
                        @foreach (var bid in Model.Bids)
                        {
                            <!-- Kollar om annonsen har sålts -->
                            @if (bid.IsApproved)
                            {
                                <li>Denna annons har blivit såld</li>
                            }
                            else
                            {
                                <!-- Skriver ut buden -->
                                <li>@String.Format("{0:N2}", bid.Amount) kr | @bid.CreatedDate</li>

                                <!-- Om användaren är inloggad och inte är den som har lagt budet och budet inte har godkänts, visas en knapp för att godkänna budet -->
                                @if (User.Identity.IsAuthenticated && bid.UserId != User.FindFirstValue(ClaimTypes.NameIdentifier) && bid.IsApproved == false)
                                {
                                    <form asp-controller="Bids" asp-action="AcceptBid" method="post">
                                        <input type="hidden" name="bidId" value="@bid.BidId" />
                                        <button type="submit">Godkänn</button>
                                    </form>
                                }
                            }
                        }
                    }
                    else
                    {
                        <li>Denna produkt har inget bud</li>
                    }
                </ul>
            </div>
        </div>
    </div>
</div>
