@model HappySalesApp.Models.HappySales.Models.Product

@{
    ViewData["Title"] = "Om annonsen";
}
<div class="main">

    <h1>Om annonsen</h1>
    <div>
        <a asp-action="Index">Tillbaka till alla annonser</a>
    </div>

    <!--Flexbos med kategorier och produktlistning-->
    <div class="flex-container">
        <div class="flex-nav">
            <img decoding="async" src="@("~/uploadedimages/"+Model.ImageName)" asp-append-version="true" width="500px" height="500px" />
        </div>



        <div class="products-flex">
            <!--Artikel där produkterna skrivs ut-->
            <div class="details">

                <h3>
                    @Html.DisplayFor(model => model.Name)
                </h3>
                <p>@Html.DisplayFor(model => model.Name)</p>
                <p>@Html.DisplayFor(model => model.Price)</p>
                <p>Annonsen skapades: @Html.DisplayFor(model => model.CreatedDate) och uppdaterades senast @Html.DisplayFor(model => model.LastModifiedDate) </p>

            </div>
        </div>
    </div>
</div>
