@model HappySalesApp.ViewModels.ProductsAndCategoriesViewModel
@using HappySalesApp.Areas.Identity.Pages.Account;
@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

@{
    ViewData["Title"] = "Annonser";
}


<div class="main">

    <h1>Annonser</h1>

    @if (SignInManager.IsSignedIn(User))
    {
        <p>
            <a asp-action="Create">Lägg till annons</a>
        </p>

    }




    <!--Flexbos med kategorier och produktlistning-->
    <div class="flex-container">
        <div class="flex-nav">
            <!--Alla kategorier-->
            <h2>Kategorier</h2>
            <ul class="list">
                <li><a asp-controller="Products" asp-action="Index">Alla annonser</a></li>
                @foreach (var item in Model.Categories)
                {
                    <li>
                    <div class="flex-list">
                        <div>
                            @Html.ActionLink(item.CategoryName, "ProductsByCategory", new { id = item.CategoryId } )
                        </div>
                        <div>
                            @Model.ProductCounts[item]
                        </div>
                    </div>
                    </li>
                }
            </ul>
        </div>



        <div class="products-flex">
            @foreach (var item in Model.Products)
            {
                <!--Artikel där produkterna skrivs ut-->
                <div>
                    <article class="products">
                        <a asp-action="Details" asp-route-id="@item.Id">
                            <img decoding="async" src="@("~/uploadedimages/"+item.ImageName)" asp-append-version="true" width="230px" height="230px" />

                            <h3>
                                @Html.DisplayFor(modelItem => item.Name)
                            </h3>

                            <p>
                                @Html.DisplayFor(modelItem => item.Price)
                            </p>
                        </a>
                    </article>
                </div>
            }
        </div>
    </div>
</div>
