@using Microsoft.AspNetCore.Identity;
@model HappySalesApp.ViewModels.ProductsAndCategoriesViewModel
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager


@{
    ViewData["Title"] = "Kategori";
}

<div class="main">
    @if (SignInManager.IsSignedIn(User))
    {
        <p id="bold">
            <a asp-action="Create">Lägg till annons <i class="fa-solid fa-circle-plus"></i></a>
        </p>

    }
    <section class="productsbycategory">
        <h1>@ViewBag.CategoryName</h1>
        <p>@ViewBag.CategoryDescription</p>
    </section>

    <!--Flexbox med kategorier och produktlistning-->
    <div class="flex-container">
        <div class="flex-nav">
            <h2>Sortera</h2>
            @* Länkar för att ändra sorteringen *@
            <ul class="sorting-list">
                <li>
                    @Html.ActionLink("Namn", "ProductsByCategory", new { sortOrder = ViewBag.NameSort })
                </li>
                <li>
                    @Html.ActionLink("Datum", "ProductsByCategory", new { sortOrder = ViewBag.DateSort })
                </li>
                <li>
                    @Html.ActionLink("Pris", "ProductsByCategory", new { sortOrder = ViewBag.PriceSort })
                </li>
            </ul>

            <!--Alla kategorier-->
            <h2>Kategorier</h2>
            <ul class="list">
                <li><a asp-controller="Products" asp-action="Index">Alla annonser</a></li>
                @foreach (var item in Model.Categories)
                {
                    <li>
                        @if (item.CategoryName != null)
                        {
                            <div class="flex-list">
                                <div>
                                    @Html.ActionLink(item.CategoryName, "ProductsByCategory", new { id = item.CategoryId } )
                                </div>
                                <div>
                                    @Model.ProductCounts[item]
                                </div>
                            </div>

                        }
                    </li>
                }



            </ul>
        </div>


        <div>
            <!--Skriver ut produkterna-->
            <div class="products-flex">
                <!--Om det finns lagrade annonser i valda kategorin skrivs -->
                @if (Model.Products.Count() > 0)
                {
                    @foreach (var item in Model.Products)
                    {
                        <!--Artikel där produkterna skrivs ut-->
                        <div>
                            <article class="products">
                                <a asp-action="Details" asp-route-id="@item.Id">
                                    <img decoding="async" src="@("~/uploadedimages/"+item.ImageName)" asp-append-version="true" width="230" height="230" alt="@item.AltText" />

                                    <h3>
                                        @Html.DisplayFor(modelItem => item.Name)
                                    </h3>

                                    <p>
                                        @Html.DisplayFor(modelItem => item.Price) kr
                                    </p>
                                </a>
                            </article>
                        </div>
                    }
                }
                else
                {
                    <p>Det finns inga annonser i denna kategori</p>
                }
            </div>
        </div>

    </div>
</div>

