@model IEnumerable<HappySalesApp.Models.HappySales.Models.Product>

@{
    ViewData["Title"] = "Sökresultat";
}


<div class="main">
    <h2 id="centered">Sökresultat</h2>
    <div class="products-flex">
        @if (Model.Count() > 0)
        {
            foreach (var item in Model)
            {

                <div>
                    <a href="@Url.Action("Details", "Products", new { id = item.Id })">
                        <img decoding="async" src="@("~/uploadedimages/"+item.ImageName)" asp-append-version="true" width="230" height="230" alt="@item.AltText">
                        <h3>@item.Name</h3>
                        <p>@item.Price kr</p>
                    </a>
                </div>
            }
        }
        else
        {
            <p>Ingen annons matchade din sökning</p>
        }

    </div>
</div>